.panel-heading {
  background: transparent;
  border-bottom: 1px solid #cad7e0;
  display: block;
  margin: 0;
  padding: 16px;
  position: relative;
  transition: all 0.2s, outline 0s;
  cursor: pointer;
}
.panel-heading:hover {
  background-color: #e4eaef;
  border-bottom: 1px solid #53759b;
}
.panel-heading:focus {
  outline: 3px solid #63aedb;
}
.panel-heading[aria-expanded='true'] {
  background-color: #eaf1f9;
  border-bottom: none;
}
.panel-heading svg {
  transition: all 0.2s;
  position: absolute;
  right: 16px;
  top: 16px;
}
.panel-heading[aria-expanded='true'] svg {
  transform: rotate(-180deg);
}
.panel-heading h4 {
  font-family: 'Mukta', sans-serif;
  font-size: 20px;
  color: #53759b;
  font-weight: 500;
  margin: 0;
}
.panel-heading p {
  font-family: 'Mukta', sans-serif;
  color: #131947;
  margin-bottom: 0;
  margin-top: 5px;
  font-weight: 300;
}
.panel-body {
  display: none;
  background-color: #eaf1f9;
  padding: 20px;
}
.panel-body p {
	font-family: 'Mukta', sans-serif;
  margin: 0 0 16px;
  color: #131947;
  font-weight: 300;
}
.panel-heading[aria-expanded='true'] + .panel-body {
  display: block;
}

:host {
  all: inherit;
}
